:host {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 4rem);
    height: calc(100vh - 10.5rem );
    margin-left: calc(-50vw + 50% + 2rem);
    margin-right: calc(-50vw + 50%);
    padding: 0;
    overflow: hidden;
}

// Main container
.training-container {
    padding: 0;
    max-width: 100%;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

// Make the score-analysis-exercise component fill the container
:host ::ng-deep {
    app-score-analysis-exercise {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
}

